a{
    color: inherit;
    text-decoration: none;
}

.app_wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    min-height: 2000px;
    grid-template-areas:
"h h"
'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app_wrapper_content {
    grid-area: c;
    background-color: blue;
}